.heros{
    margin: 0;
    padding: 0;
}
.hero_img {
    width: 100%;
    display: block;
}
.heros h1{
 position: absolute;
  top: 260px; 
  left: 42%;
  font-size: 109px;
  transform: translate(-50%, -50%); 
  color: white; 
  margin-top: 100px;
  width: 80%;
  border-bottom: 1px solid black;
}
.heros p{
    position: absolute;
    top: 400px; 
    left: 42%;
  font-size: 20px;
  font-weight: lighter;
  transform: translate(-50%, -50%); 
  color: white; 
  margin-top: 100px;
  width: 80%;
}
.hero{
    margin-top: 60px;
    padding-top: 60px
}
